# Dipendenze


node_modules/

# File di ambiente
.env

# Log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# File di sistema
.DS_Store
Thumbs.db

# Output di build (se presente)
dist/
build/

# File temporanei di editor
*.swp
*.swo
.idea/
.vscode/